In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("Train.csv")
data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [12]:
data['Warehouse_block'].value_counts()

F    3666
D    1834
C    1833
A    1833
B    1833
Name: Warehouse_block, dtype: int64

In [14]:
data['Warehouse_block']=np.where(data['Warehouse_block']=='A', 1, np.where(data['Warehouse_block']=='B', 2, np.where(data['Warehouse_block']=='C', 3, np.where(data['Warehouse_block']=='D', 4, 5))))
data['Warehouse_block']

0        4
1        5
2        1
3        2
4        3
        ..
10994    1
10995    2
10996    3
10997    5
10998    4
Name: Warehouse_block, Length: 10999, dtype: int32

In [13]:
data['Mode_of_Shipment'].value_counts()

Ship      7462
Flight    1777
Road      1760
Name: Mode_of_Shipment, dtype: int64

In [15]:
data['Mode_of_Shipment']=np.where(data['Mode_of_Shipment']=='Flight', 1, np.where(data['Mode_of_Shipment']=='Road', 2, 3))
data['Mode_of_Shipment']

0        1
1        1
2        1
3        1
4        1
        ..
10994    3
10995    3
10996    3
10997    3
10998    3
Name: Mode_of_Shipment, Length: 10999, dtype: int32

In [16]:
data['Product_importance'].value_counts()

low       5297
medium    4754
high       948
Name: Product_importance, dtype: int64

In [17]:
data['Product_importance']=np.where(data['Product_importance']=='high', 1, np.where(data['Product_importance']=='medium', 2, 3))
data['Product_importance']

0        3
1        3
2        3
3        2
4        2
        ..
10994    2
10995    2
10996    3
10997    2
10998    3
Name: Product_importance, Length: 10999, dtype: int32

In [18]:
data['Gender'].value_counts()

F    5545
M    5454
Name: Gender, dtype: int64

In [19]:
data['Gender']=np.where(data['Gender']=='F', 0, 1)
data['Gender']

0        0
1        1
2        1
3        1
4        0
        ..
10994    0
10995    0
10996    0
10997    1
10998    0
Name: Gender, Length: 10999, dtype: int32

In [20]:
y=data[['Reached.on.Time_Y.N']]
print(y.shape)
x=data[['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases', 'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms']]
print(x.shape)

(10999, 1)
(10999, 10)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test=train_test_split(x, y, test_size=0.3, shuffle=True, random_state=42)

In [23]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [24]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
model.score(X_scaled_train,y_train)

C:\Users\hseju\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.6390440316924276

In [26]:
pred_test=model.predict(X_scaled_test)
pred_test

array([1, 0, 0, ..., 1, 1, 1], dtype=int64)

In [27]:
submit=pd.DataFrame(pred_test, columns=['Reached.on.Time_Y.N'])
submit.to_csv("submit.csv", index=False)

In [28]:
submit

      Reached.on.Time_Y.N
0                       1
1                       0
2                       0
3                       0
4                       1
...                   ...
3295                    1
3296                    1
3297                    1
3298                    1
3299                    1

[3300 rows x 1 columns]