In [1]:
import pandas as pd
import numpy as np

In [12]:
data=pd.read_csv("airquality.csv", index_col = 0)
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

In [5]:
data=data[data['Solar.R'].notnull()]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    111 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     146 non-null    float64
 3   Temp     146 non-null    int64
 4   Month    146 non-null    int64
 5   Day      146 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 8.0 KB

In [6]:
med=data['Ozone'].median()
med

31.0

In [7]:
before=data['Ozone'].std()
before

33.27596865742739

In [9]:
data['Ozone']=np.where(data['Ozone'].isnull(), med, data['Ozone'])
data

<ipython-input-9-cb03971ac7de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Ozone']=np.where(data['Ozone'].isnull(), med, data['Ozone'])

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
6     23.0    299.0   8.6    65      5    7
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149   31.0    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[146 rows x 6 columns]

In [10]:
after=data['Ozone'].std()
after

29.37039856321204

In [11]:
result=before-after
result

3.905570094215353