In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("cats.csv", index_col = 0)
data.head()

  Sex  Bwt  Hwt
1   F  2.0  7.0
2   F  2.0  7.4
3   F  2.0  9.5
4   F  2.1  7.2
5   F  2.1  7.3

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 1 to 144
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     144 non-null    object
 1   Bwt     144 non-null    float64
 2   Hwt     144 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.5+ KB

In [4]:
mean=np.mean(data['Hwt'])
mean

10.630555555555556

In [5]:
std=np.std(data['Hwt'])
std

2.4261674674776503

In [11]:
q3=mean+1.5*std
q1=mean-1.5*std

In [12]:
q1

6.991304354339081

In [13]:
q3

14.26980675677203

In [14]:
data=data[(data['Hwt']<q1) | (data['Hwt']>q3)]
data

    Sex  Bwt   Hwt
31    F  2.4   6.3
48    M  2.0   6.5
49    M  2.0   6.5
114   M  3.1  14.3
124   M  3.3  14.9
125   M  3.3  15.4
130   M  3.4  14.4
133   M  3.5  15.6
134   M  3.5  15.7
135   M  3.5  17.2
138   M  3.6  14.8
139   M  3.6  15.0
141   M  3.8  14.8
142   M  3.8  16.8
143   M  3.9  14.4
144   M  3.9  20.5

In [15]:
np.mean(data['Hwt'])

13.943750000000001