In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("airquality.csv", index_col = 0)
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

In [3]:
num=int(len(data)*0.9)
num

137

In [4]:
train=data[0:num]
train.shape

(137, 6)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 1 to 137
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    101 non-null    float64
 1   Solar.R  130 non-null    float64
 2   Wind     137 non-null    float64
 3   Temp     137 non-null    int64
 4   Month    137 non-null    int64
 5   Day      137 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.5 KB

In [6]:
mean=np.mean(train['Ozone'])
mean

45.366336633663366

In [7]:
before=train['Ozone'].describe().loc['50%']
before

35.0

In [8]:
train['Ozone']=np.where(train['Ozone'].isnull(), mean, train['Ozone'])
train['Ozone'].describe()

<ipython-input-8-3a23dd5a9840>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Ozone']=np.where(train['Ozone'].isnull(), mean, train['Ozone'])

count    137.000000
mean      45.366337
std       29.141067
min        1.000000
25%       23.000000
50%       45.366337
75%       50.000000
max      168.000000
Name: Ozone, dtype: float64

In [9]:
after=np.median(train['Ozone'])
after

45.366336633663366

In [10]:
result=np.abs(before-after)
result

10.366336633663366