In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("airquality.csv", index_col=0)
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 1 to 153
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 8.4 KB

In [4]:
mean=np.mean(data['Ozone'])
mean

42.12931034482759

In [5]:
data['Ozone']=np.where(data['Ozone'].isnull(), mean, data['Ozone'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 1 to 153
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    153 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 8.4 KB

In [6]:
med=np.median(data['Ozone'])
med

42.12931034482759

In [7]:
Q3=np.percentile(data['Ozone'], 75)
Q3

46.0

In [8]:
Q1=np.percentile(data['Ozone'], 25)
Q1

21.0

In [9]:
max(data['Ozone'])

168.0

In [10]:
min(data['Ozone'])

1.0

In [15]:
min_ozone=med-2*(Q3-Q1)
min_ozone

-7.870689655172413

In [17]:
max_ozone=med+2*(Q3-Q1)
max_ozone

92.12931034482759

In [19]:
data=data[(data['Ozone']<max_ozone) & (data['Ozone']>min_ozone)]
data

        Ozone  Solar.R  Wind  Temp  Month  Day
1    41.00000    190.0   7.4    67      5    1
2    36.00000    118.0   8.0    72      5    2
3    12.00000    149.0  12.6    74      5    3
4    18.00000    313.0  11.5    62      5    4
5    42.12931      NaN  14.3    56      5    5
..        ...      ...   ...   ...    ...  ...
149  30.00000    193.0   6.9    70      9   26
150  42.12931    145.0  13.2    77      9   27
151  14.00000    191.0  14.3    75      9   28
152  18.00000    131.0   8.0    76      9   29
153  20.00000    223.0  11.5    68      9   30

[143 rows x 6 columns]

In [20]:
print(np.sum(data['Ozone']))

5279.7844827586205