In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("orings.csv", index_col=0)
data.head()

   temp  damage
1    53       5
2    57       1
3    58       1
4    63       1
5    66       0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1 to 23
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    23 non-null     int64
 1   damage  23 non-null     int64
dtypes: int64(2)
memory usage: 552.0 bytes

In [4]:
data=data[data['damage']>=1]
data

    temp  damage
1     53       5
2     57       1
3     58       1
4     63       1
11    70       1
13    70       1
18    75       1

In [5]:
from scipy import stats

In [6]:
temp=np.array(data['temp'])
temp

array([53, 57, 58, 63, 70, 70, 75], dtype=int64)

In [7]:
damage=np.array(data['damage'])
damage

array([5, 1, 1, 1, 1, 1, 1], dtype=int64)

In [8]:
stats.pearsonr(temp, damage)

(-0.5790513182650994, 0.17311937536610644)

In [9]:
data.corr(method='pearson')

            temp    damage
temp    1.000000 -0.579051
damage -0.579051  1.000000