In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("iris.csv", index_col=0)
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [5]:
mean_sl=np.mean(data['Sepal.Length'])
mean_sl

5.843333333333335

In [6]:
mean_sw=np.mean(data['Sepal.Width'])
mean_sw

3.057333333333334

In [7]:
print(mean_sl+mean_sw)

8.90066666666667