In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("ChickWeight.csv", index_col=0)
data.head()

   weight  Time  Chick  Diet
1      42     0      1     1
2      51     2      1     1
3      59     4      1     1
4      64     6      1     1
5      76     8      1     1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578 entries, 1 to 578
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   weight  578 non-null    int64
 1   Time    578 non-null    int64
 2   Chick   578 non-null    int64
 3   Diet    578 non-null    int64
dtypes: int64(4)
memory usage: 22.6 KB

In [4]:
train=data[data['Time']==10]
train

     weight  Time  Chick  Diet
6        93    10      1     1
18      103    10      2     1
30       99    10      3     1
42       87    10      4     1
54      106    10      5     1
66      124    10      6     1
78      112    10      7     1
90       93    10      8     1
101      96    10      9     1
113      81    10     10     1
125     139    10     11     1
137      88    10     12     1
149      67    10     13     1
161     128    10     14     1
173      68    10     15     1
181      51    10     16     1
188      89    10     17     1
202      71    10     19     1
214      73    10     20     1
226     163    10     21     2
238      95    10     22     2
250     103    10     23     2
262      68    10     24     2
274     124    10     25     2
286     114    10     26     2
298     100    10     27     2
310     114    10     28     2
322     106    10     29     2
334      98    10     30     2
346     102    10     31     3
358     129    10     32     3
370     111    10     33     3
382     134    10     34     3
394     158    10     35     3
406     116    10     36     3
418      83    10     37     3
430     109    10     38     3
442     109    10     39     3
454     120    10     40     3
466     124    10     41     4
478     126    10     42     4
490     157    10     43     4
502     118    10     44     4
512     117    10     45     4
524     120    10     46     4
536     123    10     47     4
548     125    10     48     4
560     128    10     49     4
572     122    10     50     4

In [5]:
before=np.mean(train['weight'])
before

107.83673469387755

In [6]:
train2=train.sort_values(by='weight', ascending=False)[:30]
train2

     weight  Time  Chick  Diet
226     163    10     21     2
394     158    10     35     3
490     157    10     43     4
125     139    10     11     1
382     134    10     34     3
358     129    10     32     3
560     128    10     49     4
161     128    10     14     1
478     126    10     42     4
548     125    10     48     4
66      124    10      6     1
274     124    10     25     2
466     124    10     41     4
536     123    10     47     4
572     122    10     50     4
454     120    10     40     3
524     120    10     46     4
502     118    10     44     4
512     117    10     45     4
406     116    10     36     3
310     114    10     28     2
286     114    10     26     2
78      112    10      7     1
370     111    10     33     3
442     109    10     39     3
430     109    10     38     3
322     106    10     29     2
54      106    10      5     1
18      103    10      2     1
250     103    10     23     2

In [7]:
new=np.min(train2['weight'])
new

103

In [8]:
train['weight']=np.where(train['weight']>new, before, train['weight'])
train

<ipython-input-8-59bf33b9523e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['weight']=np.where(train['weight']>new, before, train['weight'])

         weight  Time  Chick  Diet
6     93.000000    10      1     1
18   103.000000    10      2     1
30    99.000000    10      3     1
42    87.000000    10      4     1
54   107.836735    10      5     1
66   107.836735    10      6     1
78   107.836735    10      7     1
90    93.000000    10      8     1
101   96.000000    10      9     1
113   81.000000    10     10     1
125  107.836735    10     11     1
137   88.000000    10     12     1
149   67.000000    10     13     1
161  107.836735    10     14     1
173   68.000000    10     15     1
181   51.000000    10     16     1
188   89.000000    10     17     1
202   71.000000    10     19     1
214   73.000000    10     20     1
226  107.836735    10     21     2
238   95.000000    10     22     2
250  103.000000    10     23     2
262   68.000000    10     24     2
274  107.836735    10     25     2
286  107.836735    10     26     2
298  100.000000    10     27     2
310  107.836735    10     28     2
322  107.836735    10     29     2
334   98.000000    10     30     2
346  102.000000    10     31     3
358  107.836735    10     32     3
370  107.836735    10     33     3
382  107.836735    10     34     3
394  107.836735    10     35     3
406  107.836735    10     36     3
418   83.000000    10     37     3
430  107.836735    10     38     3
442  107.836735    10     39     3
454  107.836735    10     40     3
466  107.836735    10     41     4
478  107.836735    10     42     4
490  107.836735    10     43     4
502  107.836735    10     44     4
512  107.836735    10     45     4
524  107.836735    10     46     4
536  107.836735    10     47     4
548  107.836735    10     48     4
560  107.836735    10     49     4
572  107.836735    10     50     4

In [9]:
after=np.mean(train['weight'])
after

98.51895043731781

In [10]:
print(before-after)

9.317784256559733