In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("PimaIndiansDiabetes2.csv", index_col=0)
data.head()

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
1         6    148.0      72.0     35.0      NaN  33.6     0.627   50      pos
2         1     85.0      66.0     29.0      NaN  26.6     0.351   31      neg
3         8    183.0      64.0      NaN      NaN  23.3     0.672   32      pos
4         1     89.0      66.0     23.0     94.0  28.1     0.167   21      neg
5         0    137.0      40.0     35.0    168.0  43.1     2.288   33      pos

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 1 to 768
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 60.0+ KB

In [4]:
data2=data[(data['glucose'].notnull()) & (data['pressure'].notnull()) & (data['mass'].notnull())]
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 724 entries, 1 to 768
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  724 non-null    int64
 1   glucose   724 non-null    float64
 2   pressure  724 non-null    float64
 3   triceps   532 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      724 non-null    float64
 6   pedigree  724 non-null    float64
 7   age       724 non-null    int64
 8   diabetes  724 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 56.6+ KB

In [5]:
data2['age'].value_counts()

22    67
21    59
24    44
25    44
23    35
28    33
26    31
27    31
29    27
31    21
41    19
30    19
42    18
33    17
37    17
32    15
36    15
38    15
45    15
34    14
43    13
46    13
40    12
39    12
35    10
50     8
51     8
52     8
58     7
47     6
44     6
48     5
60     5
57     5
49     5
54     5
53     5
55     4
62     4
63     4
66     4
56     3
59     3
65     3
67     3
61     2
70     1
64     1
68     1
69     1
81     1
Name: age, dtype: int64

In [6]:
data2['age']=np.where(data2['age']>=60, 3, np.where(data2['age']>=41, 2, 1))
data2['age'].value_counts()

<ipython-input-6-9385fc869aa2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['age']=np.where(data2['age']>=60, 3, np.where(data2['age']>=41, 2, 1))

1    538
2    156
3     30
Name: age, dtype: int64

In [7]:
age1=data2[data2['age']==1]
age1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 538 entries, 2 to 768
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  538 non-null    int64
 1   glucose   538 non-null    float64
 2   pressure  538 non-null    float64
 3   triceps   423 non-null    float64
 4   insulin   322 non-null    float64
 5   mass      538 non-null    float64
 6   pedigree  538 non-null    float64
 7   age       538 non-null    int32
 8   diabetes  538 non-null    object
dtypes: float64(6), int32(1), int64(1), object(1)
memory usage: 39.9+ KB

In [8]:
print(len(age1[age1['diabetes']=='pos'])/len(age1))

0.28066914498141265

In [9]:
age2=data2[data2['age']==2]
len(age2[age2['diabetes']=='pos'])/len(age2)

0.5705128205128205

In [10]:
age3=data2[data2['age']==3]
len(age3[age3['diabetes']=='pos'])/len(age3)

0.3

In [11]:
print(len(age2[age2['diabetes']=='pos'])/len(age2))

0.5705128205128205