In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv("insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [8]:
data['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [9]:
data['sex']=np.where(data['sex']=='male', 0, 1)
data['sex'].value_counts()

0    676
1    662
Name: sex, dtype: int64

In [10]:
data['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [11]:
data['smoker']=np.where(data['smoker']=='no', 0, 1)
data['smoker'].value_counts()

0    1064
1     274
Name: smoker, dtype: int64

In [12]:
data['region'].value_counts()

southeast    364
northwest    325
southwest    325
northeast    324
Name: region, dtype: int64

In [13]:
data['region']=np.where(data['region']=='southeast', 0, np.where(data['region']=='northwest', 1, np.where(data['region']=='southwest', 2, 3)))
data['region'].value_counts()

0    364
2    325
1    325
3    324
Name: region, dtype: int64

In [14]:
X=data[['age', 'sex', 'bmi', 'children', 'smoker', 'region']]
y=data[['charges']]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, train_size=0.7, random_state=42)

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [18]:
from sklearn.svm import SVR
model=SVR(kernel='poly')
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
model.score(X_scaled_train, y_train)

C:\Users\hseju\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.03683052502454376

In [19]:
pred_test=model.predict(X_scaled_test)
model.score(X_scaled_test, y_test)

0.044155764714379875

In [20]:
from sklearn.metrics import mean_squared_error
MSE_test=np.sqrt(mean_squared_error(y_test, pred_test))
print(MSE_test)

11838.496503076069

In [21]:
pred_test=pd.DataFrame({'charges':pred_test})
pred_test

          charges
0     9839.417137
1     9069.356496
2    13484.126311
3     8989.570772
4     9579.388272
..            ...
397  10402.180160
398   8768.975888
399   8713.514102
400   9084.797260
401   8739.816345

[402 rows x 1 columns]

In [22]:
pred_test.to_csv('003000755_3.csv')