In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Train.csv")
data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [4]:
data['Warehouse_block'].value_counts()

F    3666
D    1834
B    1833
C    1833
A    1833
Name: Warehouse_block, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
data['Warehouse_block']=l1.fit_transform(data['Warehouse_block'])
data['Warehouse_block'].value_counts()

4    3666
3    1834
2    1833
1    1833
0    1833
Name: Warehouse_block, dtype: int64

In [6]:
data['Mode_of_Shipment'].value_counts()

Ship      7462
Flight    1777
Road      1760
Name: Mode_of_Shipment, dtype: int64

In [7]:
l2=LabelEncoder()
data['Mode_of_Shipment']=l2.fit_transform(data['Mode_of_Shipment'])
data['Mode_of_Shipment'].value_counts()

2    7462
0    1777
1    1760
Name: Mode_of_Shipment, dtype: int64

In [8]:
data['Product_importance'].value_counts()

low       5297
medium    4754
high       948
Name: Product_importance, dtype: int64

In [9]:
l3=LabelEncoder()
data['Product_importance']=l3.fit_transform(data['Product_importance'])
data['Product_importance'].value_counts()

1    5297
2    4754
0     948
Name: Product_importance, dtype: int64

In [10]:
data['Gender'].value_counts()

F    5545
M    5454
Name: Gender, dtype: int64

In [11]:
l4=LabelEncoder()
data['Gender']=l4.fit_transform(data['Gender'])
data['Gender'].value_counts()

0    5545
1    5454
Name: Gender, dtype: int64

In [12]:
data['Reached.on.Time_Y.N'].value_counts()

1    6563
0    4436
Name: Reached.on.Time_Y.N, dtype: int64

In [13]:
data.columns

Index(['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [14]:
X=data[['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms']]
y=data[['Reached.on.Time_Y.N']]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, train_size=0.7, random_state=42)

In [16]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3300 entries, 107 to 10289
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   3300 non-null   int64
 1   Warehouse_block      3300 non-null   int32
 2   Mode_of_Shipment     3300 non-null   int32
 3   Customer_care_calls  3300 non-null   int64
 4   Customer_rating      3300 non-null   int64
 5   Cost_of_the_Product  3300 non-null   int64
 6   Prior_purchases      3300 non-null   int64
 7   Product_importance   3300 non-null   int32
 8   Gender               3300 non-null   int32
 9   Discount_offered     3300 non-null   int64
 10  Weight_in_gms        3300 non-null   int64
dtypes: int32(4), int64(7)
memory usage: 257.8 KB

In [17]:
X_train=X_train[['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms']]
Z=X_test['ID']
X_test=X_test[['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms']]

In [18]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [19]:
from sklearn.svm import SVC
model1=SVC()
model1.fit(X_scaled_train, y_train)
pred_train1=model1.predict(X_scaled_train)
model1.score(X_scaled_train, y_train)

C:\Users\hseju\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.6903493960254579

In [20]:
pred_test1=model1.predict(X_scaled_test)
model1.score(X_scaled_test, y_test)

0.6578787878787878

In [21]:
from sklearn.ensemble import RandomForestClassifier
model2=RandomForestClassifier()
model2.fit(X_scaled_train, y_train)
pred_train2=model2.predict(X_scaled_train)
model2.score(X_scaled_train, y_train)

<ipython-input-21-befe5c796a0a>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model2.fit(X_scaled_train, y_train)

1.0

In [22]:
pred_test2=model2.predict(X_scaled_test)
model2.score(X_scaled_test, y_test)

0.6645454545454546

In [23]:
from sklearn.metrics import confusion_matrix
confusion_test=confusion_matrix(y_test, pred_test1)
confusion_test

array([[1063,  249],
       [ 880, 1108]], dtype=int64)

In [24]:
pred_test1=pd.DataFrame({'Reached.on.Time_Y.N':pred_test1}, index=Z)
pred_test1

       Reached.on.Time_Y.N
ID
108                      1
5595                     0
6998                     0
3985                     0
3112                     1
...                    ...
9225                     0
6518                     1
9233                     1
2291                     1
10290                    0

[3300 rows x 1 columns]

In [25]:
pred_test1.to_csv("003000755.csv")