In [1]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv("TimeAge.csv")
data.head()

         date  time  age  confirmed  deceased
0  2020-03-02     0   0s         32         0
1  2020-03-02     0  10s        169         0
2  2020-03-02     0  20s       1235         0
3  2020-03-02     0  30s        506         1
4  2020-03-02     0  40s        633         1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089 entries, 0 to 1088
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1089 non-null   object
 1   time       1089 non-null   int64
 2   age        1089 non-null   object
 3   confirmed  1089 non-null   int64
 4   deceased   1089 non-null   int64
dtypes: int64(3), object(2)
memory usage: 42.7+ KB

In [7]:
data['age'].value_counts()

70s    121
50s    121
40s    121
10s    121
30s    121
0s     121
60s    121
80s    121
20s    121
Name: age, dtype: int64

In [6]:
data_20s=data[data['age']=='20s']
data_20s

            date  time  age  confirmed  deceased
2     2020-03-02     0  20s       1235         0
11    2020-03-03     0  20s       1417         0
20    2020-03-04     0  20s       1575         0
29    2020-03-05     0  20s       1727         0
38    2020-03-06     0  20s       1877         0
...          ...   ...  ...        ...       ...
1046  2020-06-26     0  20s       3317         0
1055  2020-06-27     0  20s       3331         0
1064  2020-06-28     0  20s       3343         0
1073  2020-06-29     0  20s       3352         0
1082  2020-06-30     0  20s       3362         0

[121 rows x 5 columns]

In [8]:
mean_20s=np.mean(data_20s['confirmed'])
mean_20s

2858.0743801652893

In [9]:
data_50s=data[data['age']=='50s']
data_50s

            date  time  age  confirmed  deceased
5     2020-03-02     0  50s        834         5
14    2020-03-03     0  50s        952         5
23    2020-03-04     0  50s       1051         5
32    2020-03-05     0  50s       1127         5
41    2020-03-06     0  50s       1217         5
...          ...   ...  ...        ...       ...
1049  2020-06-26     0  50s       2264        15
1058  2020-06-27     0  50s       2269        15
1067  2020-06-28     0  50s       2275        15
1076  2020-06-29     0  50s       2280        15
1085  2020-06-30     0  50s       2286        15

[121 rows x 5 columns]

In [10]:
mean_50s=np.mean(data_50s['confirmed'])
mean_50s

1901.0743801652893

In [11]:
print(abs(mean_50s-mean_20s))

957.0