In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("esoph.csv", index_col=0)
data.head()

   agegp      alcgp     tobgp  ncases  ncontrols
1  25-34  0-39g/day  0-9g/day       0         40
2  25-34  0-39g/day     10-19       0         10
3  25-34  0-39g/day     20-29       0          6
4  25-34  0-39g/day       30+       0          5
5  25-34      40-79  0-9g/day       0         27

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 1 to 88
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agegp      88 non-null     object
 1   alcgp      88 non-null     object
 2   tobgp      88 non-null     object
 3   ncases     88 non-null     int64
 4   ncontrols  88 non-null     int64
dtypes: int64(2), object(3)
memory usage: 4.1+ KB

In [4]:
data['nsums']=data['ncases']+data['ncontrols']
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 1 to 88
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   agegp      88 non-null     object
 1   alcgp      88 non-null     object
 2   tobgp      88 non-null     object
 3   ncases     88 non-null     int64
 4   ncontrols  88 non-null     int64
 5   nsums      88 non-null     int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [6]:
data1=data[['alcgp', 'tobgp', 'nsums']]

In [7]:
two_way=data1.groupby(['alcgp', 'tobgp']).sum().unstack()
two_way

             nsums
tobgp     0-9g/day 10-19 20-29 30+
alcgp
0-39g/day      261    84    42  28
120+            24    18    12  13
40-79          179    85    62  29
80-119          61    49    16  12

In [8]:
import scipy.stats as stats

In [10]:
print(stats.chi2_contingency(two_way)[0])

43.672111275723864