In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("ChickWeight.csv", index_col=0)
data.head()

   weight  Time  Chick  Diet
1      42     0      1     1
2      51     2      1     1
3      59     4      1     1
4      64     6      1     1
5      76     8      1     1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578 entries, 1 to 578
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   weight  578 non-null    int64
 1   Time    578 non-null    int64
 2   Chick   578 non-null    int64
 3   Diet    578 non-null    int64
dtypes: int64(4)
memory usage: 22.6 KB

In [8]:
min_weight=np.min(data['weight'])
min_weight

35

In [9]:
max_weight=np.max(data['weight'])
max_weight

373

In [10]:
def minmaxscaler(x):
    return ((x-min_weight)/(max_weight-min_weight))

In [11]:
data['weight']=minmaxscaler(data['weight'])
data['weight'].value_counts()

0.017751    20
0.020710    15
0.041420    13
0.079882     8
0.047337     8
            ..
0.390533     1
0.363905     1
0.745562     1
0.964497     1
0.000000     1
Name: weight, Length: 212, dtype: int64

In [12]:
len(data[data['weight']>=0.5])

81